*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 2.5rem;
    color: #e81212;
}
.container{
    margin-left: 0px;
    
}
.container h2{
    position: relative;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    color: #6eabc5;
    display: inline-block;
    padding: 10px;
    margin-left: 30%;
    top: 0;
}
.container h2::after{
    position: absolute;
    content: "-Albert Einstein";
    display: inline-block;
    top: 55px;
    left: 90px;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.container h2::before{
    position: absolute;
    display: inline-block;
    content: " ";
    width: 100px;
    height: 100px;
    background-color: #000000;
    background-image: url(../images/einstein.jpeg);
    background-size: cover;
    background-position: center;
    margin-right: 80px;
    transform: translate(-110%, -50%);
    border-radius: 50%;
    top: 35px;
}

.about{
    text-align: center;
    position: relative;
}
.about h2{
    margin-top: 30px;
    font-size: 40px;
    color: #a3076f;
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
    text-decoration-style: dotted;
}
.about i{
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    color: #e81212;
    z-index: 2;
    animation: heart 1s ease infinite;
}
.about i::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #100f0f;
    top: 12px;
    z-index: -2;
    left: 30px;
}
/* .about i::before{
    content: "";
    position: absolute; 
    width: 50px;
    height: 5px;
    background-color: #100f0f;
    top: 12px;
    
    left: 30px;
} */
@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.style{
    text-align: center;
    margin: 70px auto;
}
.style h2{
    font-size: 40px;
    color: #038820;
    position: relative;
}
.style .red-line{
    position: absolute;
    display: inline-block;
    height: 8px;
    width: 50px;
    background-color: #e81212;
    margin: 10px auto;
    left: 48%;
}
.style .red-line::before{
    content: "";
    position: absolute;
    /* display: inline-block; */
    transform: translatex(-50%);
    top: 3px;
    left: -35px;
    height: 3px;
    width: 70px;
    background-color:#f44e4e;;
}
.style .red-line::after{
    content: "";
    position: absolute;
    /* display: inline-block; */
    transform: translatex(50%);
    top: 3px;
    right: -35.5px;
    height: 3px;
    width: 70px;
    background-color: #f44e4e;
}