*{
    margin: 0;
    box-sizing: border-box;
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
        background-color: blue;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .container{
        max-width: 1140px;
        background-color:blueviolet;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container{
        max-width: 960px;
        background-color:rgb(43, 226, 70);
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 720px;
        background-color:rgb(226, 76, 43);
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .container{
        max-width: 540px;
        background-color:rgb(226, 43, 195);
    }
}
@media (max-width: 575px){
    .container{
        max-width: 100%;
    }
}