*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px 0;
}
h2{
    text-align: center;
    margin: 20px 0;
}
.static-box{
    width: 300px;
    height: 300px;
    background-color: red;
    position: static;
    margin: 20px auto;
    left: 10px;
}
.relative-box{
    width: 300px;
    height: 300px;
    background-color: green;
    position: relative;
    left: 10px;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.door{
    width: 500px;
    height: 700px;
    background-color: rgb(238, 238, 203);
    margin: 20px auto;
    position: relative;
    border: 2px solid black;
    transition: all 2s;
}
.single-door{
    width: 50%;
    height: 700px;
    background-color: brown;
    position: absolute;
}
.left{
    left: 0;
    transform-origin: left;
}
.right{
    right: 0;
    background-color: saddlebrown;
    transform-origin: right;
}
.door .single-door:hover{
    transform: rotatey(60deg);
}