*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px 0;
    color: blueviolet;
}
div p{
    color: red;
    height: 300px;
    width: 300px;
    background-color: lightcoral;
    margin: 20px auto;
    padding: 20px;
}
